* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: inline-block;
  background-color: #78b43d;
  margin-bottom: 5px;
}
.logo {
  float: left;
}
.danhmuc {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
}
.danhmuc p {
  color: #fff;
}
.danhmuc1 {
  text-align: center;
}
.danhmuc1 .list_danhmuc {
  display: inline-block;
  position: relative;
}
.danhmuc1 .list_danhmuc .danhmuc2 {
  background-color: #78b43d;
  display: none;
}
.danhmuc1 .list_danhmuc:hover .danhmuc2 {
  display: block;
  position: absolute;
  top: 100%;
  right: 20%;
  width: 150px;
}
.danhmuc1 .list_danhmuc .danhmuc2 li {
  display: block;
  text-align: center;
  border-bottom: solid 0.5px black;
}

.danhmuc2 {
  text-align: center;
}
.danhmuc2 .con2 {
  display: inline-block;
  position: relative;
}
.danhmuc2 .con2 .con {
  background-color: #78b43d;
  display: none;
}
.danhmuc2 .con2:hover .con {
  display: block;
  position: absolute;
  top: 10%;
  left: 100%;
  width: 150px;
}
.danhmuc2 .con2 .con li {
  display: block;
  text-align: center;
  border-bottom: solid 0.5px black;
}

.danhmuc img {
  width: 30px;
  height: 30px;
  padding: 0 5px;
}
.danhmuc li {
  list-style: none;
  padding: 0 5px;
}

.menu {
  display: flex;
  margin-top: 5px;
  float: left;
}
.menu p {
  color: #fff;
}
.menu img {
  width: 25px;
  height: 25px;
}
.menu li {
  margin-right: 10px;
  list-style: none;
}
.menu1 {
  text-align: center;
}
.menu1 .list_menu {
  position: relative;
  display: inline-block;
}
.menu1 .list_menu .menu2 {
  background-color: #78b43d;
  display: none;
}
.menu1 .list_menu:hover .menu2 {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 150px;
}
.menu1 .list_menu .menu2 li {
  display: block;
  text-align: center;
  border-bottom: solid 0.5px black;
}

.icon {
  float: right;
  border-left: solid 1px #fff;
  border-right: solid 1px #fff;
}
.icon img {
  padding: 0 5px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.container {
  width: 1004px;
  display: block;
  margin: 0 auto;
}
.work_left {
  width: 699px;
  float: left;
}

.small_left {
  width: 347px;
  float: left;
  margin-bottom: 15px;
}
.list {
  display: flex;
  margin-bottom: 5px;
}
.list li {
  margin-right: 10px;
  list-style: none;
  background-color: rgb(170 173 172 / 28%);
  padding: 0px 7px;
  color: #3d3d3d;
  border-radius: 3px;
}
.list li:hover {
  color: #78b43d;
}
.title {
  font-size: 20px;
  color: black;
}
.title:hover {
  color: #78b43d;
}
.content {
  display: inline-block;
  width: 100%;
}
.content .item_left {
  float: left;
  width: 100px;
  height: 75px;
  margin-right: 20px;
}
.content .item_right p:hover {
  color: #78b43d;
}
.content .item_right {
  font-size: 20px;
  display: block;
  overflow: hidden;
}
.content .item_right span {
  font-size: 10px;
  color: black;
}
.content .list_item {
  background-color: #eaf8d2;
}
.content .list_item:hover {
  color: #78b43d;
}
.list_items:hover {
  color: #78b43d;
}
.list_style:hover {
  color: #78b43d;
}
.list_amthuc:hover {
  color: #78b43d;
}
.content_dn p:hover {
  color: #78b43d;
}
.footer1 .container ul li:hover {
  color: #78b43d;
}
.footer1 .container ul b:hover {
  color: #78b43d;
}
.footer2 ul li:hover {
  color: #101709;
}
.small_right {
  width: 347px;
  float: right;
  margin-bottom: 15px;
}

.work_right {
  width: 300px;
  float: right;
}
.tin_tuc {
  margin-bottom: 20px;
}
.tin_tuc h2 {
  color: green;
  border-bottom: solid 2px rgb(26, 158, 35);
  font-size: 17px;
}

.post {
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
}

.post img {
  width: 100px;
  height: 75px;
  float: left;
  margin-right: 20px;
}

.content_post {
  display: block;
}
.list_kpi {
  display: flex;
}
.list_kpi li {
  list-style: none;
  margin-right: 10px;
}

.list_chungkhoan {
  display: flex;
}
.list_chungkhoan li {
  list-style: none;
  margin-right: 10px;
  background-color: rgba(159, 234, 121, 0.367);
  border-radius: 5px;
  padding: 2px;
}
.thong_tin {
  margin-bottom: 20px;
}
.thong_tin h2 {
  color: green;
  border-bottom: solid 2px rgb(26, 158, 35);
  font-size: 17px;
}

.phong_cach {
  margin-bottom: 20px;
}
.text {
  position: absolute;
  top: 72%;
  right: 6%;
  color: #fff;
  font-size: 20px;
}
.phong_cach img {
  width: 268px;
  height: 180px;
}
.dep {
  margin-bottom: 20px;
}
.dep h2 {
  font-size: 17px;
  color: #fff;
  background-color: palevioletred;
  padding: 5px;
}
.dep img {
  float: left;
  width: 100px;
  height: 75px;
  margin-right: 20px;
}
.content_dep {
  font-size: 20px;
  display: block;
  overflow: hidden;
}
.video_chonloc {
  width: 699px;
  float: left;
}
.video_left {
  float: left;
  width: 400px;
}
.video_left img {
  width: 400px;
  height: 225;
}
.video_right {
  margin-bottom: 10px;
  float: right;
  width: 265px;
}
.video_right img {
  width: 130px;
  height: 77px;
  float: left;
  margin-right: 10px;
}
.mario {
  display: block;
}
.gia {
  width: 699px;
  float: left;
  display: flex;
  margin-bottom: 20px;
}
.gia_vang h4 {
  padding: 5px;
  border-bottom: solid 1px #e3b014;
  width: 80%;
}
.gia_vang ul {
  display: flex;
}
.gia_vang li {
  margin-right: 20px;
  list-style: none;
}
.ty_gia h4 {
  padding: 5px;
  border-bottom: solid 1px #e3b014;
  width: 80%;
}
.ty_gia ul {
  display: flex;
}
.ty_gia li {
  margin-right: 20px;
  list-style: none;
}
.thoi_tiet h4 {
  padding: 5px;
  border-bottom: solid 1px #e3b014;
  width: 80%;
}

.thoi_tiet ul {
  display: flex;
}
.thoi_tiet li {
  margin-right: 20px;
  list-style: none;
}
.list_suckhoe {
  margin-bottom: 20px;
  width: 699px;
  float: left;
}
.amthuc {
  width: 699px;
  float: left;
  margin-bottom: 20px;
}
.amthuc .content {
  margin-bottom: 10px;
}
.doanh_nghiep {
  float: left;
  width: 1004px;
  margin-bottom: 20px;
}
.doanh_nghiep h2 {
  color: red;
  border-bottom: solid 2px red;
}
.list_1 {
  display: flex;
  margin-bottom: 10px;
}
.list_2 {
  display: flex;
}
.list_dnitem {
  display: flex;
}
.list_dn img {
  float: left;
  width: 100px;
  height: 75px;
  margin-right: 10px;
}
.content_dn {
  display: block;
}
.footer {
  width: 100%;
  display: inline-block;
  background-color: #ebebeb;
}

.footer1 {
  padding-top: 10px;
}
.footer1 .container {
  display: flex;
  margin-bottom: 10px;
}
.footer1 .container li {
  margin-right: 40px;
  list-style: none;
}

.footer2 ul {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #78b43d;
  padding: 5px;
}

.footer2 li {
  list-style: none;
  margin-right: 10px;
  color: #fff;
  font-weight: 600;
}
.footer3 .container {
  text-align: center;
  padding-bottom: 10px;
}

.button ul {
  display: flex;
  justify-content: center;
}
.button .dmca {
  list-style: none;
  margin-right: 10px;
  background-color: #78b43d;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}
.button .protected {
  list-style: none;
  margin-right: 10px;
  background-color: #132204;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}
